@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    background: url('../img/background.jpg') center center/cover no-repeat;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

/* header */

.header {
    margin: 46px 0 17px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    gap: 8px;
}

.header__logo_img {
    background-image: url('../img/logo/logo.png');
    width: 53px;
    height: 47px;
}

.header__logo_text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    color: #FFFFFF;
}

.header__logo_text_large {
    font-size: 29px;
}

.header__logo:hover .header__logo_text{
    color: #F26522;
}

.header__logo:hover .header__logo_img {
    background-image: url('../img/logo/logo-hovered.png');
}

.header__contact {
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    transition: .4s all;
}

.header__link:hover {
    color: #F26522;
}

/* section */

.tours__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(261px, auto);
    gap: 37px 55px;
}

.tours__img {
    position: relative;
    display: flex;
    overflow: hidden;
}

.tours__img img {
    object-fit: cover;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, white, black);
    border-image-slice: 2;
}

/* gradient */

.hidden {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 7px 37px 12px 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    background: #F26522;
    opacity: 0;
    height: 0;
    transition: .4s linear;
}

.hidden__price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hidden__price_value {
    font-size: 20px;
}

.hidden__details {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
}

.hidden__details::after {
    content: '';
    background: url('../icons/arrow-right.svg') center center/cover no-repeat;
    height: 10px;
    width: 5px;
    position: absolute;
    right: 16px;
    bottom: 14px;
}

.tours__label {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    margin-top: 20px;
    transition: .4s all;
}

.tours__link:hover .hidden {
    opacity: 1;
    height: 55px;
}

.tours__link:hover .tours__label {
    color: #F26522;
}

/* footer */

.footer {
    margin: 48px 0 15px;
}

.footer__text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #FFFFFF;
}